/* footer yousef starts from here guys*/

#footer-yousef.container.yousef {
    max-width: 100%;
    margin: 0rem;
    padding: 0rem;
    /*here is the section of the footer page that contains the dogs photos before the last one*/
    section.row.dogs-photos {
        max-width: 100%;
        padding: 0rem;
        margin: 0rem;
        background-color: #414549;
        display: flex;
        justify-content: center;
        div.center {
            padding: 0rem;
            margin: 2rem 0rem;
            display: flex;
            flex-wrap: nowrap;
            color: #fff;
            article:first-child {
                .row:first-child {
                    div {
                        opacity: 0.5;
                        font-size: 12px;
                        padding: 0rem 0rem 0rem 0.5rem;
                        border-bottom: 0px;
                    }
                }
                .row {
                    max-width: 100%;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 5px 15px 20px #989899;
                        background: #fff;
                        color: black;
                        transform: scale(1);
                        transition: all 1.5s;
                    }
                    div {
                        max-width: 100%;
                        margin: 0rem;
                        padding: 0rem;
                        font-weight: 700;
                        font-size: 12px;
                        border-bottom: 1px solid rgb(43, 64, 73);
                        height: 2rem
                    }
                }
            }
            article:nth-of-type(2) {
                .row:first-child {
                    div {
                        opacity: 0.5;
                        font-size: 12px;
                        padding: 0rem 0rem 0.2rem 0.5rem;
                    }
                }
                .row {
                    max-width: 100%;
                    margin-bottom: 0.2rem;
                    div {
                        margin: 0rem;
                        padding: 0.1rem 0rem;
                        img {
                            min-width: 100%;
                            height: 3.3rem;
                        }
                        p {
                            font-size: 11px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                }
            }
            article:nth-of-type(3) {
                img {
                    max-width: 100%;
                    &:hover {
                        cursor: pointer;
                        box-shadow: 5px 15px 20px #414549;
                        transform: scale(-1);
                        transition: all 10s;
                    }
                }
                .row:first-child {
                    div {
                        opacity: 0.5;
                        font-size: 12px;
                        padding: 0rem 0rem 0.2rem 0.5rem;
                    }
                }
                .row {
                    max-width: 100%;
                    div {
                        margin: 0rem;
                        padding: 0.1rem;
                    }
                }
            }
        }
    }
    /*here is the last section of the footer page that contains the social media icons*/
    section.row.icons {
        max-width: 100%;
        padding: 0rem;
        margin: 0rem;
        background-color: #333;
        height: 4rem;
        article.center {
            margin: auto;
            padding: 0rem 1rem;
            display: flex;
            justify-content: flex-end;
        }
        div {
            background-color: #414549;
            max-width: 2rem;
            max-height: 2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
            margin: 1rem 0.2rem;
            &:hover {
                cursor: pointer;
                box-shadow: 5px 15px 20px #989899;
                transition: all 2s;
            }
            .fa {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                font-size: 20px;
                width: 30px;
                text-align: center;
                text-decoration: none;
                border-radius: 50%;
                color: #fff;
            }
        }
    }
}


/* footer yousef ends  here guys*/